doctype html
block vars
  - var bodyclass = null;
  - var pmeta = page.metadata
  - var description = pmeta.description? pmeta.description : "Marco's blog about stuff he's into."
  - var ogPath = pmeta.fbPath? pmeta.fbPath : page.url
  - var fbImage = pmeta.fbImage? pmeta.fbImage : page.image
  - var title = page.title? page.title + " | Marcocarag.com" : "Marcocarag.com"

html(class="no-js", lang="en")
  head
    block head
      meta(charset="utf-8")

      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

      title
        block title
          = title
      meta(name="description", content=description)

      if locals.environment !== "development"
        meta(property="fb:app_id", content="127177063996357")
        meta(property="og:type", content="article")
        meta(property="og:url", content="http://marcocarag.com" + ogPath)
        meta(property="og:site_name", content="MarcoCarag.com")
        meta(property="og:image", content=fbImage)
        meta(property="og:title", content=title)
        meta(property="og:description", content=description)

      meta(name="viewport", content="width=device-width")
      link(rel="shortcut icon", href="/favicon.ico")

      link(rel="stylesheet", href="/css/style.css")

      script(src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js")

  body(class=bodyclass)
    header
      h1.logoType: a(href="/") Marco Carag
      h2
        | Expert
        span.sansSerif.heart &hearts;
        | er of things.

    .clearfix(role="main")
      block content

    footer.audimat
      block footer
        .otherLinks
          a.iconb.replaceTextWithIcon.icon-feed(href="http://feeds.feedburner.com/marcocarag/iSwv")
            | Subscribe to RSS
          a.iconb.replaceTextWithIcon.icon-twitter(href="http://twitter.com/marcocarag")
            | @marcocarag on Twitter
          a.iconb.replaceTextWithIcon.icon-github(href="https://github.com/jazzcrazed/jazzcrazed.github.com")
            | This blog&rsquo;s Github repo

        small
          p
            | This site is generated using 
            a(href="http://wintersmith.io/") Wintersmith
            | , uses the incomparable 
            a(href="http://html5boilerplate.com") HTML5 Boilerplate
            | , and is hosted on 
            a(href="https://github.com/jazzcrazed/jazzcrazed.github.com") GitHub
            | .
          p
            | I&rsquo;m also using the fonts 
            a(href="http://www.smeltery.net/fonts/audimat") AUdimat by SMeltery
            | , 
            a(href="http://www.fontsquirrel.com/fonts/afta-serif") Afta Serif by Oriol Esparraguera
            | , and 
            a(href="http://www.yanone.de/typedesign/kaffeesatz/") Yanone Kaffeesatz by Yanone
            | , kitted up using 
            a(href="http://fontsquirrel.com") Font Squirrel&rsquo;s @font-face Generator
            | . Also using icons by 
            a(href="http://keyamoon.com/icomoon") IcoMoon
            |  fonted up using their 
            a(href="http://keyamoon.com/icomoon/app/") excellent app
            | .

        | &copy; #{ new Date().getFullYear() } by
        big: a(href="/about.html") Marco Carag
        | .

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="/js/script.js")

    if locals.environment !== "development"
      script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ site.JB.analytics.google.tracking_id }}']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    block bottom
