extends default

block content
  include _post_meta

  each article in articles
    .postPreview
      h1
        a.deeplyEngravedType(href=article.url)!= typogr(article.title).typogrify()

      .postCopy
        != typogr(env.helpers.figurifyImages(article.intro)).typogrify()

        if article.hasMore
          .centeredLink
            a(href=article.url) Continue reading
      +postMeta(article.date, env.helpers.getTagsFromArticle(article))

  nav.centeredCopy.pagination
    if prevPage
      a.previous(href=prevPage.url) Previous
    else
      a.previous(href='/archive.html') Archives
    span.page_number Page #{pageNum} of #{totalPages}
    if nextPage
      a.next(href=nextPage.url) Next
