extends default

block content
  article.post
    .postContent
      h1= page.title
      .postCopy
        if page.imageClasses == "fullWidth"
          if page.description
            p= page.description
          else if page.description_paragraphless
            = page.description_paragraphless

        if page.image
          figure.postImage(class=page.imageClasses? page.imageClasses : null)
            .curledShadow
              a(href=page.imageUrl? page.imageUrl : page.image)
                img(src=page.image, alt=page.imageAlt? page.imageAlt : null)
            if page.imageCaption || page.imageAltAsCaption == true
              figcaption
                = page.imageCaption || page.imageAlt

        if page.imageClasses !== "fullWidth"
          if page.description
            p= page.description
          else if page.description_paragraphless
            = page.description_paragraphless
        != typogr(page.html).typogrify()

      .postMeta
        | On
        time(datetime=page.date.toDateString())
          strong // Day, Month Date, Year
          | at
          strong // Time
        if page.tags
          | in
          ul.tags
            - for tag in page.tags
              li: a(href="{{ site.JB.tags_path }}#{{ tag }}-ref") {{ tag }}

    #recentTweets.hidden
      h3 Tweeted recently by:

    .comments
      #disqus_thread
      script.
        var disqus_developer = 1,
            disqus_shortname = 'marcocarag';

        // DON'T EDIT BELOW THIS LINE
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      noscript
        | Please enable JavaScript to view the
        a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
      a.dsq-brlink(href="http://disqus.com")
        | blog comments powered by
        span.logo-disqus Disqus
